{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    ルールの理解度テスト
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <p>
            実験ルール理解度を確認するため、以下の設問にお答えください。
        </p>

        <form method="post">

            {% if treatment_name == 'fixed' %}
                {% include 'introduction/_TestFixed.html' %}
            {% elif treatment_name == 'transfer_free' %}
                {% include 'introduction/_TestTransferFree.html' %}
            {% elif treatment_name == 'transfer_cost' %}
                {% include 'introduction/_TestTransferCost.html' %}
            {% else %}
                <p>該当する条件のテスト設問が見つかりませんでした。</p>
            {% endif %}

            <div class="text-right mt-3">
                {% next_button %}
            </div>
        </form>
    </div>
</div>

{% endblock %}
