{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    最終実験結果
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">全{{ C.num_rounds }}ラウンドの累積利得</h4>
        <p>
            実験は終了しました。以下は、あなたのグループの全メンバーの累積利得です。
        </p>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>プレイヤー</th>
                    <th>累積収益金額 (MUs)</th>
                </tr>
            </thead>
            <tbody>
                {% for p in players %}
                <tr {% if p.id_in_group == player.id_in_group %}class="table-primary"{% endif %} style="text-align: center;">
                    <td>
                        {% if p.id_in_group == player.id_in_group %}
                            <strong>あなた (プレイヤー {{ p.id_in_group }})</strong>
                        {% else %}
                            プレイヤー {{ p.id_in_group }}
                        {% endif %}
                    </td>
                    <td>{{ p.participant.payoff }}</td> {# ここでparticipant.payoffは最後のラウンドでmodels.pyによって #}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>

        <div class="card bg-light mt-3">
            <div class="card-body">
                <h4>あなたの最終報酬</h4>
                <p>
                    あなたの累積利得は <strong>{{ participant.payoff }} </strong> です。
                </p>
                <p>
                    換金レート (1 MU = {{ session.config.real_world_currency_per_point }} {{ currency_code }}) に基づき、实验の成績による報酬は <strong>{{ performance_payoff }}</strong> です。
                </p>
                <p>
                    これに参加費 <strong>{{ session.config.participation_fee }} {{ currency_code }}</strong> を加えた、あなたの最終的な受取金額は <strong>{{ final_payoff_jpy }} {{ currency_code }}</strong> です。
                </p>
            </div>
        </div>

    </div>
</div>

<div class="text-right mt-3">
    {% next_button %}
</div>

{% endblock %}
